<h1>Lista de Productos en Tiempo Real</h1>
<ul id="product-list">
  {{#each productos}}
    <li>{{this.title}} - {{this.price}}</li>
  {{/each}}
</ul>
<form id="product-form" enctype="multipart/form-data">
  <input
    type="text"
    id="title"
    name="title"
    placeholder="Título del Producto"
  />
  <input
    type="number"
    id="price"
    name="price"
    placeholder="Precio del Producto"
  />
  <input type="file" id="thumbnail" name="thumbnail" />
  <button type="submit">Agregar Producto</button>
</form>